.turnHeader {
  display: none;
}

div#buttons {
  margin-top: 20px;
  text-align: center;
}

div#rollArea {
  margin-top: 20px;
  text-align: center;
}

.player1, .player2 {
  padding: 20px;
}

.playersTurn {
  border-radius: 8px;
  box-shadow: 3px 3px 3px gray;
  background-color: #5cb85c;
}


#buttons .btn {
  box-shadow: 0 9px #999;
  font-size: 30px;
  padding: 15px 25px;
  border-radius: 15px;
  outline: none;
  margin: 0 20px; 
}

#buttons .btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(10px);

}
